body{
    font-family: 'Noto Sans TC', sans-serif;
}
.card{
                border: 1px solid #e5e5e5;
                border-radius: .25rem;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 2rem;
                margin-top: .5rem;
        }